.card {
  background-color: #ffffff;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  list-style: none;
}
.imageStyle {
  height: 170px;
  width: 270px;
  border-radius: 10px;
  padding-bottom: 5px;
}
.heading {
  font-family: roboto;
  font-size: 16px;
  color: #0f172a;
  margin-top: 5px;
}
